body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

.form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #77bca9;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #77bca9;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444;
    cursor: pointer;
}

img {
    border: 1px solid #ddd;
    border-radius: 5px 5px 0 0;
    padding: 5px;
    width: 100px;
    height: 100px;

  }

  .dashboard {
    font-size: 10px;
    font-weight: 700;
    display: inline-block;
    color: black;
    padding-left: 10px;
}

/* .borderdashboard {
    border: 1px solid black;
} */

p {
    font-style: Bookman, URW Bookman L, serif;
    font-size: 12px;
}

.column {
    float: left;
    width: 50%;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* .loginBackground {
    background-image: url("/images/sakura.png");
    background-repeat: repeat;
  } */

  .deletebtn {
    background-color: #f44336;
    font-size: 11px;
    border-radius: 12px;
    color: white;
  }

  .editbtn {
    background-color: lightseagreen;
    font-size: 11px;
    border-radius: 12px;
    color: white;
  }

  .saveupdatebtn {
    background-color: green;
    font-size: 11px;
    border-radius: 12px;
    color: white;
  }

  .download-table-xls-button {
    background-color: #ffec73;
    font-size: 15px;
    border-radius: 20px;
    color: black;
  }

  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    height: 100%;
    padding: 8px;
    background-color: rgba(255,255,255,0.8);
    box-sizing: border-box;
    border: 2px solid white;

  }

  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  /* Add some padding inside the card container */
  .container {
    padding: 8px 16px;
  }

  body {
    background: url("/images/regal.png");
    background-repeat: repeat;
  }
